<h1 class="vcard-names vcard-fullname title">Let's learn how to use <%= reponame %>...</h1>

<div id="left" class="blur_on_menu">
  <div id="logo">
    <img class="avatar" src="<%= avatarUrl %>"/>
    <h1 class="vcard-names">
      <span class="vcard-fullname"><%= fullname %></span>
      <span class="vcard-username"><%= username %></span>
    </h1>
  </div>
</div>

<div id="main" class="blur_on_menu"></div>

<div id="show_menu" class="blur_on_menu"></div>
<div id="footer">
    <svg width="50" height="20" xmlns="http://www.w3.org/2000/svg">
     <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->

     <g>
      <title>Layer 1</title>
      <metadata transform="matrix(0.19427937533242812,0,0,0.19427937533242812,0,0) ">Created by potrace 1.10, written by Peter Selinger 2001-2011</metadata>
      <g stroke="null" id="svg_24">
       <g stroke="null" id="svg_22">
        <g stroke="null" id="svg_4" fill="#000000" transform="matrix(0.004357050790859942,0,0,-0.004357050790859942,-26.533751199898887,-14.552866698254881) ">
         <path stroke="null" fill="#bfbfbf" id="svg_5" d="m8171.352539,-4017.763428c-336.001465,-18 -645.001465,-130.000244 -914.001465,-330.000244c-106,-78 -273,-251 -353,-363c-172,-240.999512 -280,-545.999512 -296,-834.999512c-7,-117 0,-330 10,-341c3,-3 55,0 114,7c68,7 173,9 278,6l168,-6l-6,27c-3,15 -13,56 -21,92c-24,102 -30,331 -12,415c23,107 54,180 113,267l54,78l-15,57c-28,108 -12,310.999512 32,396.999512c15,28 16,28 79,22c90,-9 214,-56 332,-126c92,-55 102,-58 133,-50c193.000488,56 554.001465,64 759.001465,16c54,-12 56,-12 98,17c62,41 239,124 292,136c25,6 68,11 96,11c58,0 64,-7 89,-114c16,-66 19,-239.999512 6,-295.999512c-7,-33 -5,-39 36,-85c58,-66 129,-211 148,-303c23,-115 18,-362 -11,-517l-5,-31l250,1l250,0l6,33c10,54 7,306 -5,394c-97,709.999512 -656,1283.999512 -1359,1397.999756c-117,19 -254,28 -346,23z"/>
         <path stroke="null" fill="#bfbfbf" id="svg_6" d="m9448.352539,-5890.763184c-45,-4 -84,-9 -87,-11c-2,-2 -6,-16 -10,-30l-7,-26l194,-6c110,-3 220,-12 255,-20l63,-14l6,36c3,20 8,43 10,52c4,13 -7,17 -57,23c-76,7 -255,6 -367,-4z"/>
         <path stroke="null" fill="#bfbfbf" id="svg_7" d="m6761.351074,-5901.763184c-60,-5 -116,-11 -123,-14c-11,-4 -13,-17 -7,-53c4,-26 8,-48 9,-49c1,-1 51,7 111,18c61,10 175,21 255,24c80,4 159,8 177,11c30,4 31,6 20,34c-11,30 -12,30 -92,30c-44,0 -116,2 -160,4c-44,3 -129,0 -190,-5z"/>
         <path stroke="null" fill="#bfbfbf" id="svg_8" d="m9323.352539,-6001.763184c-4,-13 -29,-54 -56,-91c-59,-79 -158,-152 -268,-198c-72,-30 -233,-71 -336,-85l-48,-6l41,-45c85,-92 99,-167 100,-515c0,-281 1,-283 76,-255c27,10 93,40 147,67c413,204 716,570 848,1021c13,43 20,81 16,84c-18,18 -159,35 -328,41l-186,6l-6,-24z"/>
         <path stroke="null" fill="#bfbfbf" id="svg_9" d="m6925.351074,-6000.763184c-42,-4 -121,-15 -177,-25c-117,-21 -111,-3 -60,-160c82,-250 251,-509 450,-689c163,-147 381,-277 576,-343c114,-38 112,-42 112,188l0,176l-42,-8c-68,-13 -179,-10 -241,6c-132,34 -196,91 -263,230c-52,109 -96,165 -170,218c-89,63 -83,102 14,101c93,-1 182,-59 252,-164c40,-60 93,-111 145,-138c42,-22 63,-26 130,-26c54,1 96,7 129,20c52,20 52,20 89,104c13,30 40,71 60,91l36,37l-78,11c-293,43 -518,163 -627,335l-29,46l-115,-1c-63,-1 -149,-5 -191,-9z"/>
         <path stroke="null" fill="#bfbfbf" id="svg_10" d="m7141.351074,-6340.763184c-8,-12 20,-24 35,-15c5,3 10,10 10,16c0,12 -37,12 -45,-1z"/>
         <path stroke="null" fill="#bfbfbf" id="svg_11" d="m7229.351074,-6392.763184c2,-7 12,-13 22,-13c10,0 20,6 23,13c2,7 -6,12 -23,12c-17,0 -25,-5 -22,-12z"/>
         <path stroke="null" fill="#bfbfbf" id="svg_12" d="m7279.351074,-6452.763184c2,-7 12,-13 22,-13c10,0 20,6 23,13c2,7 -6,12 -23,12c-17,0 -25,-5 -22,-12z"/>
         <path stroke="null" fill="#bfbfbf" id="svg_13" d="m7328.351074,-6522.763184c5,-15 37,-18 41,-3c1,6 -9,12 -22,13c-16,3 -22,-1 -19,-10z"/>
         <path stroke="null" fill="#bfbfbf" id="svg_14" d="m7385.351074,-6581.763184c-11,-6 -11,-11 -2,-20c12,-12 43,-6 43,10c0,14 -25,20 -41,10z"/>
         <path stroke="null" fill="#bfbfbf" id="svg_15" d="m8266.352539,-6933.763184c0,-171 -4,-326 -9,-342l-8,-30l42,3l43,4l-9,31c-5,18 -9,120 -9,227c0,107 -3,246 -7,308c-5,100 -8,112 -25,112c-17,0 -18,-15 -18,-313z"/>
         <path stroke="null" fill="#bfbfbf" id="svg_16" d="m7453.351074,-6636.763184c-11,-11 3,-24 24,-24c12,0 19,5 17,13c-5,14 -31,21 -41,11z"/>
         <path stroke="null" fill="#bfbfbf" id="svg_17" d="m7758.351074,-6657.763184c-18,-7 -4,-23 19,-23c12,0 19,5 17,12c-5,14 -18,18 -36,11z"/>
         <path stroke="null" fill="#bfbfbf" id="svg_18" d="m8041.351563,-6680.763184c-18,-32 -20,-60 -25,-306c-4,-209 -8,-275 -19.000488,-287c-12,-15 -10,-17 17.000488,-17c49,0 53,33 50,360l-3,285l-20,-35z"/>
         <path stroke="null" fill="#bfbfbf" id="svg_19" d="m8519.352539,-6957.763184c1,-171 5,-314 8,-318c12,-11 59,6 51,19c-4,6 -9,128 -12,271c-5,244 -7,263 -28,300l-22,40l3,-312z"/>
         <path stroke="null" fill="#bfbfbf" id="svg_20" d="m7553.351074,-6676.763184c-10,-11 3,-24 24,-24c10,0 19,7 19,15c0,15 -31,21 -43,9z"/>
         <path stroke="null" fill="#bfbfbf" id="svg_21" d="m7653.351074,-6676.763184c-10,-11 3,-24 24,-24c10,0 19,7 19,15c0,15 -31,21 -43,9z"/>
     </g>
 </g>
 <text stroke="#000000" transform="matrix(0.22426728099570792,0,0,0.22426728099570792,-26.533751199898887,-30.28181981887962) " xml:space="preserve" text-anchor="middle" font-family="Monospace" font-size="57" id="svg_23" y="198.082689" x="262.209576" stroke-width="0" fill="#bfbfbf">RIAL</text>
</g>
<text transform="matrix(0.0743589848279953,0,0,0.0743589848279953,24.10478573948589,16.180301625088674) " stroke="#000000" xml:space="preserve" text-anchor="middle" font-family="Monospace" font-size="32" id="svg_25" y="98.370706" x="40.474185" stroke-width="0" fill="#bfbfbf">Teach Your Repo</text>
</g>
</svg>
&nbsp;&nbsp;
</div>


<div id="mask"></div>
<div id="levels">
    <div class="end">
        <h1><span class="title">THE END&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="errors_count"></span>&nbsp;<!-- <img src="icons/false.png" /> --></h1>
    </div>
    <div id="ask_for_mail">
        <form id="mail_form">
            <p id="mail_en">Try the next episode of Githuborial before its official release !</p>
            <p id="mail_fr">Essayez le prochain épisode de Githuborial en avant première !</p>
            <p id="mail_field"><input type="text" name="email" style="" placeholder="email@email.com" /></p>
            <div class="controls"><div class="cancel"></div><div class="submit"></div></div>
        </form>
    </div>
</div>
<div id="welcome">
    <!-- <img id="teacher" src="img/welcome.jpg" /> -->
    <svg width="667" height="668" xmlns="http://www.w3.org/2000/svg">
       <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->

       <g>
          <title>Layer 1</title>
          <metadata transform="matrix(0.19427937533242812,0,0,0.19427937533242812,0,0) ">Created by potrace 1.10, written by Peter Selinger 2001-2011</metadata>
          <g stroke="null" id="svg_24">
             <g stroke="null" id="svg_22">
                <g id="svg_4" fill="#000000" transform="matrix(0.05859481273095007,0,0,-0.05859481273095007,-681.000918134105,-413.30806753796446) ">
                   <path fill="#bfbfbf" stroke="null" id="svg_5" d="m13756.09668,-10978.850586c-336.000977,-18 -645.000977,-130 -914.000977,-330c-106,-78 -273,-251 -353,-363c-172,-241 -280,-546 -296,-835c-7,-117 0,-330 10,-341c3,-3 55,0 114,7c68,7 173,9 278,6l168,-6l-6,27c-3,15 -13,56 -21,92c-24,102 -30,331 -12,415c23,107 54,180 113,267l54,78l-15,57c-28,108 -12,311 32,397c15,28 16,28 79,22c90,-9 214,-56 332,-126c92,-55 102,-58 133,-50c193,56 554.000977,64 759.000977,16c54,-12 56,-12 98,17c62,41 239,124 292,136c25,6 68,11 96,11c58,0 64,-7 89,-114c16,-66 19,-240 6,-296c-7,-33 -5,-39 36,-85c58,-66 129,-211 148,-303c23,-115 18,-362 -11,-517l-5,-31l250,1l250,0l6,33c10,54 7,306 -5,394c-97,710 -656,1284 -1359,1398c-117,19 -254,28 -346,23z"/>
                   <path fill="#bfbfbf" stroke="null" id="svg_6" d="m15033.09668,-12851.850586c-45,-4 -84,-9 -87,-11c-2,-2 -6,-16 -10,-30l-7,-26l194,-6c110,-3 220,-12 255,-20l63,-14l6,36c3,20 8,43 10,52c4,13 -7,17 -57,23c-76,7 -255,6 -367,-4z"/>
                   <path fill="#bfbfbf" stroke="null" id="svg_7" d="m12346.095703,-12862.850586c-60,-5 -116,-11 -123,-14c-11,-4 -13,-17 -7,-53c4,-26 8,-48 9,-49c1,-1 51,7 111,18c61,10 175,21 255,24c80,4 159,8 177,11c30,4 31,6 20,34c-11,30 -12,30 -92,30c-44,0 -116,2 -160,4c-44,3 -129,0 -190,-5z"/>
                   <path fill="#bfbfbf" stroke="null" id="svg_8" d="m14908.09668,-12962.850586c-4,-13 -29,-54 -56,-91c-59,-79 -158,-152 -268,-198c-72,-30 -233,-71 -336,-85l-48,-6l41,-45c85,-92 99,-167 100,-515c0,-281 1,-283 76,-255c27,10 93,40 147,67c413,204 716,570 848,1021c13,43 20,81 16,84c-18,18 -159,35 -328,41l-186,6l-6,-24z"/>
                   <path fill="#bfbfbf" stroke="null" id="svg_9" d="m12510.095703,-12961.850586c-42,-4 -121,-15 -177,-25c-117,-21 -111,-3 -60,-160c82,-250 251,-509 450,-689c163,-147 381,-277 576,-343c114,-38 112,-42 112,188l0,176l-42,-8c-68,-13 -179,-10 -241,6c-132,34 -196,91 -263,230c-52,109 -96,165 -170,218c-89,63 -83,102 14,101c93,-1 182,-59 252,-164c40,-60 93,-111 145,-138c42,-22 63,-26 130,-26c54,1 96,7 129,20c52,20 52,20 89,104c13,30 40,71 60,91l36,37l-78,11c-293,43 -518,163 -627,335l-29,46l-115,-1c-63,-1 -149,-5 -191,-9z"/>
                   <path fill="#bfbfbf" stroke="null" id="svg_10" d="m12726.095703,-13301.850586c-8,-12 20,-24 35,-15c5,3 10,10 10,16c0,12 -37,12 -45,-1z"/>
                   <path fill="#bfbfbf" stroke="null" id="svg_11" d="m12814.095703,-13353.850586c2,-7 12,-13 22,-13c10,0 20,6 23,13c2,7 -6,12 -23,12c-17,0 -25,-5 -22,-12z"/>
                   <path fill="#bfbfbf" stroke="null" id="svg_12" d="m12864.095703,-13413.850586c2,-7 12,-13 22,-13c10,0 20,6 23,13c2,7 -6,12 -23,12c-17,0 -25,-5 -22,-12z"/>
                   <path fill="#bfbfbf" stroke="null" id="svg_13" d="m12913.095703,-13483.850586c5,-15 37,-18 41,-3c1,6 -9,12 -22,13c-16,3 -22,-1 -19,-10z"/>
                   <path fill="#bfbfbf" stroke="null" id="svg_14" d="m12970.095703,-13542.850586c-11,-6 -11,-11 -2,-20c12,-12 43,-6 43,10c0,14 -25,20 -41,10z"/>
                   <path fill="#bfbfbf" stroke="null" id="svg_15" d="m13851.09668,-13894.850586c0,-171 -4,-326 -9,-342l-8,-30l42,3l43,4l-9,31c-5,18 -9,120 -9,227c0,107 -3,246 -7,308c-5,100 -8,112 -25,112c-17,0 -18,-15 -18,-313z"/>
                   <path fill="#bfbfbf" stroke="null" id="svg_16" d="m13038.095703,-13597.850586c-11,-11 3,-24 24,-24c12,0 19,5 17,13c-5,14 -31,21 -41,11z"/>
                   <path fill="#bfbfbf" stroke="null" id="svg_17" d="m13343.095703,-13618.850586c-18,-7 -4,-23 19,-23c12,0 19,5 17,12c-5,14 -18,18 -36,11z"/>
                   <path fill="#bfbfbf" stroke="null" id="svg_18" d="m13626.095703,-13641.850586c-18,-32 -20,-60 -25,-306c-4,-209 -8,-275 -19,-287c-12,-15 -10,-17 17,-17c49,0 53,33 50,360l-3,285l-20,-35z"/>
                   <path fill="#bfbfbf" stroke="null" id="svg_19" d="m14104.09668,-13918.850586c1,-171 5,-314 8,-318c12,-11 59,6 51,19c-4,6 -9,128 -12,271c-5,244 -7,263 -28,300l-22,40l3,-312z"/>
                   <path fill="#bfbfbf" stroke="null" id="svg_20" d="m13138.095703,-13637.850586c-10,-11 3,-24 24,-24c10,0 19,7 19,15c0,15 -31,21 -43,9z"/>
                   <path fill="#bfbfbf" stroke="null" id="svg_21" d="m13238.095703,-13637.850586c-10,-11 3,-24 24,-24c10,0 19,7 19,15c0,15 -31,21 -43,9z"/>
               </g>
           </g>
           <text stroke="#000000" transform="matrix(3.016007837041824,0,0,3.016007837041824,-681.000918134105,-624.8353383446924) " xml:space="preserve" text-anchor="middle" font-family="Monospace" font-size="57" id="svg_23" y="333.322255" x="370.709634" stroke-width="0" fill="#bfbfbf">RIAL</text>
       </g>
       <text xml:space="preserve" text-anchor="middle" font-family="Monospace" font-size="32" id="svg_25" y="413" x="381" stroke-width="0" stroke="#000000" fill="#bfbfbf">Teach Your Repo</text>
   </g>
</svg>
</div>
<script src="<%= scripturl %>"></script>

<a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>